<ng-container
  *ngIf="statsService.isGameOver; then gameOver; else inGame">
</ng-container>

<ng-template #inGame>
  <div class="container">
    <div class="row col-12 justify-content-end m-0">
      <button class="btn btn-dark btn-sm" (click)="quit()">X</button>
    </div>
    <div class="row mt-4 mb-4 justify-content-center col-12 m-0">
      <app-stats class="mt-2 col-sm-12 col-lg-8"></app-stats>
    </div>
    <div class="row justify-content-center col-12 m-0">
      <app-action-card class="col-sm-12 col-lg-8"></app-action-card>
    </div>
  </div>
</ng-template>

<ng-template #gameOver>
  <div>
    <app-game-over></app-game-over>
  </div>
</ng-template>