<ng-container
  *ngIf="statsService.isGameOver; then gameOver; else inGame">
</ng-container>

<ng-template #inGame>
  <div class="d-flex flex-column">
    <div class="d-flex col-12 justify-content-end">
      <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#quitModal" (click)="quit()">X</button>
    </div>
    <div class="mt-4 mb-4 d-flex flex-grow-1 justify-content-center col-12">
      <app-stats class="mt-2 col-sm-12 col-lg-8"></app-stats>
    </div>
    <div class="d-flex justify-content-center col-12">
      <app-action-card class="col-sm-11 col-lg-8"></app-action-card>
    </div>
  </div>
</ng-template>

<ng-template #gameOver>
  <div>
    <app-game-over></app-game-over>
  </div>
</ng-template>