<div class="row h-100">
  <div class="d-flex align-items-start col-12">
    <div class="container">
      <div class="row justify-content-center mt-5 mb-5">
        <h1>
          ng-choices
          <small class="text-muted">a reigns-like game</small>
        </h1>
      </div>
      <div class="row justify-content-center">
        <p class="text-center">Interested in Angular and Bootstrap, I wanted to start a small project where I could test those technologies and have some fun with them. Since I've always wanted to tell stories or rather create something others could experience, I wanted the project to be a game. That's when I decided to try to develop a <a target="_blank" href="http://reignsgame.com/reigns/" class="text-info">reigns</a>-like game. I love the series and I wanted to see how one could set up something similar using Angular.</p>
      </div>
      <div class="row justify-content-center mt-3">
        <p class="text-center">I know this is far from perfect and also still in development, but hopefully you still <strong class="text-info">have fun</strong> with ng-choices!</p>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-start justify-content-center mt-4 mb-5 col-12">
    <button class="col-11 col-md-6 col-lg-2 btn btn-info p-3" routerLink="/game">PLAY</button>
  </div>
  <div class="d-flex align-items-end col-12">
    <app-footer class="col-12"></app-footer>
  </div>
</div>