<div class="row h-100">
  <div class="d-flex align-items-start col-12">
    <div class="container">
      <div class="row justify-content-center mt-5 mb-5">
        <h1>Insert title here</h1>
      </div>
      <div class="row justify-content-center">
        <p>I wanted to see how a <a target="_blank" href="http://reignsgame.com/reigns/">reigns</a>-like game could be developed in Angular. This is what I got so far.</p>
      </div>
      <div class="row justify-content-center mt-3">
        <p>Have fun!</p>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-start justify-content-center col-12">
    <button class="col-11 col-md-6 col-lg-2 btn btn-success p-3" routerLink="/game">PLAY</button>
  </div>
  <div class="d-flex align-items-end col-12">
    <app-footer class="col-12"></app-footer>
  </div>
</div>