<div class="card text-center bg-dark border-secondary" *ngIf="card != null && hide === false">
  <!--<img src="{{imgSrc}}" class="card-img-top" alt="{{altText}}" />-->
  <div class="card-body">
    <p class="card-title">{{card.title | uppercase}}</p>
    <div class="card-text">
      <p>{{outcome}}</p>
      <p>{{card.situation}}</p>
      <p>{{card.choices}}</p>
    </div>
    <div class="d-flex justify-content-between mt-auto">
      <button class="btn btn-info col-4" (click)="chooseA()">{{card.answerA}}</button>
      <button class="btn btn-info col-4" (click)="chooseB()">{{card.answerB}}</button>
    </div>
  </div>
</div>
<div class="text-center bg-dark border-secondary" *ngIf="card == null || hide !== false">
  <div class="card-body">
    <div class="card-text">
      Shuffling
    </div>
  </div>
</div>